-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: pokemon_firered
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `batalha`
--

DROP TABLE IF EXISTS `batalha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batalha` (
  `id` int NOT NULL AUTO_INCREMENT,
  `treinador_jogador_id` int NOT NULL,
  `treinador_oponente_id` int NOT NULL,
  `data_inicio` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('EM_ANDAMENTO','VITORIA_JOGADOR','DERROTA_JOGADOR','EMPATE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'EM_ANDAMENTO',
  `pokemon_ativo_jogador_id` int DEFAULT NULL,
  `pokemon_ativo_oponente_id` int DEFAULT NULL,
  `vencedor_id` int DEFAULT NULL,
  `turno_atual` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `fk_bat_jogador` (`treinador_jogador_id`),
  KEY `fk_bat_oponente` (`treinador_oponente_id`),
  KEY `fk_bat_vencedor` (`vencedor_id`),
  KEY `fk_bat_pok_jog` (`pokemon_ativo_jogador_id`),
  KEY `fk_bat_pok_opo` (`pokemon_ativo_oponente_id`),
  CONSTRAINT `fk_bat_jogador` FOREIGN KEY (`treinador_jogador_id`) REFERENCES `treinador` (`id`),
  CONSTRAINT `fk_bat_oponente` FOREIGN KEY (`treinador_oponente_id`) REFERENCES `treinador` (`id`),
  CONSTRAINT `fk_bat_pok_jog` FOREIGN KEY (`pokemon_ativo_jogador_id`) REFERENCES `pokemon_instancia` (`id`),
  CONSTRAINT `fk_bat_pok_opo` FOREIGN KEY (`pokemon_ativo_oponente_id`) REFERENCES `pokemon_instancia` (`id`),
  CONSTRAINT `fk_bat_vencedor` FOREIGN KEY (`vencedor_id`) REFERENCES `treinador` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batalha`
--

LOCK TABLES `batalha` WRITE;
/*!40000 ALTER TABLE `batalha` DISABLE KEYS */;
/*!40000 ALTER TABLE `batalha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `encontro_mapa`
--

DROP TABLE IF EXISTS `encontro_mapa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encontro_mapa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mapa_id` int NOT NULL,
  `especie_id` int NOT NULL,
  `nivel_min` int NOT NULL,
  `nivel_max` int NOT NULL,
  `taxa_chance` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_enc_mapa` (`mapa_id`),
  KEY `fk_enc_especie` (`especie_id`),
  CONSTRAINT `fk_enc_especie` FOREIGN KEY (`especie_id`) REFERENCES `especie_pokemon` (`id_pokedex`),
  CONSTRAINT `fk_enc_mapa` FOREIGN KEY (`mapa_id`) REFERENCES `mapa` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `encontro_mapa`
--

LOCK TABLES `encontro_mapa` WRITE;
/*!40000 ALTER TABLE `encontro_mapa` DISABLE KEYS */;
/*!40000 ALTER TABLE `encontro_mapa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especie_movimento_nivel`
--

DROP TABLE IF EXISTS `especie_movimento_nivel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especie_movimento_nivel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `especie_id` int NOT NULL,
  `movimento_id` int NOT NULL,
  `nivel_aprendizado` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_esp_mov_lvl` (`especie_id`,`movimento_id`,`nivel_aprendizado`),
  KEY `fk_emn_mov` (`movimento_id`),
  CONSTRAINT `fk_emn_esp` FOREIGN KEY (`especie_id`) REFERENCES `especie_pokemon` (`id_pokedex`),
  CONSTRAINT `fk_emn_mov` FOREIGN KEY (`movimento_id`) REFERENCES `movimento` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1500 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especie_movimento_nivel`
--

LOCK TABLES `especie_movimento_nivel` WRITE;
/*!40000 ALTER TABLE `especie_movimento_nivel` DISABLE KEYS */;
/*!40000 ALTER TABLE `especie_movimento_nivel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especie_pokemon`
--

DROP TABLE IF EXISTS `especie_pokemon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especie_pokemon` (
  `id_pokedex` int NOT NULL,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo1_id` int NOT NULL,
  `tipo2_id` int DEFAULT NULL,
  `hp_base` int NOT NULL,
  `ataque_base` int NOT NULL,
  `defesa_base` int NOT NULL,
  `sp_ataque_base` int NOT NULL,
  `sp_defesa_base` int NOT NULL,
  `velocidade_base` int NOT NULL,
  `exp_base` int NOT NULL DEFAULT '64',
  `ev_hp_yield` int NOT NULL DEFAULT '0',
  `ev_ataque_yield` int NOT NULL DEFAULT '0',
  `ev_defesa_yield` int NOT NULL DEFAULT '0',
  `ev_sp_ataque_yield` int NOT NULL DEFAULT '0',
  `ev_sp_defesa_yield` int NOT NULL DEFAULT '0',
  `ev_velocidade_yield` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id_pokedex`),
  UNIQUE KEY `nome` (`nome`),
  KEY `fk_esp_tipo1` (`tipo1_id`),
  KEY `fk_esp_tipo2` (`tipo2_id`),
  CONSTRAINT `fk_esp_tipo1` FOREIGN KEY (`tipo1_id`) REFERENCES `tipo` (`id`),
  CONSTRAINT `fk_esp_tipo2` FOREIGN KEY (`tipo2_id`) REFERENCES `tipo` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especie_pokemon`
--

LOCK TABLES `especie_pokemon` WRITE;
/*!40000 ALTER TABLE `especie_pokemon` DISABLE KEYS */;
/*!40000 ALTER TABLE `especie_pokemon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evolucao`
--

DROP TABLE IF EXISTS `evolucao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evolucao` (
  `id` int NOT NULL AUTO_INCREMENT,
  `especie_origem_id` int NOT NULL,
  `especie_destino_id` int NOT NULL,
  `metodo_evolucao` enum('LEVEL_UP','USE_ITEM','TRADE','HAPPINESS') COLLATE utf8mb4_unicode_ci NOT NULL,
  `parametro` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_evo_origem` (`especie_origem_id`),
  KEY `fk_evo_destino` (`especie_destino_id`),
  CONSTRAINT `fk_evo_destino` FOREIGN KEY (`especie_destino_id`) REFERENCES `especie_pokemon` (`id_pokedex`),
  CONSTRAINT `fk_evo_origem` FOREIGN KEY (`especie_origem_id`) REFERENCES `especie_pokemon` (`id_pokedex`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evolucao`
--

LOCK TABLES `evolucao` WRITE;
/*!40000 ALTER TABLE `evolucao` DISABLE KEYS */;
/*!40000 ALTER TABLE `evolucao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `held_item`
--

DROP TABLE IF EXISTS `held_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `held_item` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `efeito_tipo` enum('BOOST_TIPO','BOOST_ATK_FISICO','CURA_TURNO','CURA_HP_CRITICO','SOBREVIVENCIA_FATAL') COLLATE utf8mb4_unicode_ci NOT NULL,
  `param_tipo_id` int DEFAULT NULL,
  `valor_multiplicador` decimal(4,2) NOT NULL DEFAULT '1.00',
  `valor_fixo` int NOT NULL DEFAULT '0',
  `eh_consumivel` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`),
  KEY `fk_hi_tipo` (`param_tipo_id`),
  CONSTRAINT `fk_hi_tipo` FOREIGN KEY (`param_tipo_id`) REFERENCES `tipo` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `held_item`
--

LOCK TABLES `held_item` WRITE;
/*!40000 ALTER TABLE `held_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `held_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_inventario`
--

DROP TABLE IF EXISTS `item_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_inventario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `efeito_tipo` enum('CURA_HP','REVIVE','RESTAURA_PP') COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor_efeito` int NOT NULL,
  `eh_porcentagem` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_inventario`
--

LOCK TABLES `item_inventario` WRITE;
/*!40000 ALTER TABLE `item_inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_batalha`
--

DROP TABLE IF EXISTS `log_batalha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_batalha` (
  `id` int NOT NULL AUTO_INCREMENT,
  `batalha_id` int NOT NULL,
  `numero_turno` int NOT NULL,
  `ordem_acao` int NOT NULL,
  `pokemon_atacante_id` int NOT NULL,
  `pokemon_defensor_id` int NOT NULL,
  `movimento_id` int DEFAULT NULL,
  `dano_causado` int NOT NULL DEFAULT '0',
  `houve_acerto` tinyint(1) NOT NULL DEFAULT '1',
  `multiplicador_tipo` decimal(3,2) NOT NULL DEFAULT '1.00',
  `foi_critico` tinyint(1) NOT NULL DEFAULT '0',
  `hp_restante_defensor` int NOT NULL,
  `mensagem` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `criado_em` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_lb_batalha` (`batalha_id`),
  KEY `fk_lb_atacante` (`pokemon_atacante_id`),
  KEY `fk_lb_defensor` (`pokemon_defensor_id`),
  CONSTRAINT `fk_lb_atacante` FOREIGN KEY (`pokemon_atacante_id`) REFERENCES `pokemon_instancia` (`id`),
  CONSTRAINT `fk_lb_batalha` FOREIGN KEY (`batalha_id`) REFERENCES `batalha` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_lb_defensor` FOREIGN KEY (`pokemon_defensor_id`) REFERENCES `pokemon_instancia` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=206 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_batalha`
--

LOCK TABLES `log_batalha` WRITE;
/*!40000 ALTER TABLE `log_batalha` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_batalha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mapa`
--

DROP TABLE IF EXISTS `mapa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mapa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_local` enum('Cidade','Rota','Floresta','Caverna','Predio','Mar','GinÔö£├¡sio') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mapa`
--

LOCK TABLES `mapa` WRITE;
/*!40000 ALTER TABLE `mapa` DISABLE KEYS */;
/*!40000 ALTER TABLE `mapa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimento`
--

DROP TABLE IF EXISTS `movimento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimento` (
  `id` int NOT NULL,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_id` int NOT NULL,
  `categoria` enum('Physical','Special','Status') COLLATE utf8mb4_unicode_ci NOT NULL,
  `poder` int DEFAULT NULL,
  `precisao` int DEFAULT NULL,
  `pp_maximo` int NOT NULL,
  `prioridade` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `fk_mov_tipo` (`tipo_id`),
  CONSTRAINT `fk_mov_tipo` FOREIGN KEY (`tipo_id`) REFERENCES `tipo` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimento`
--

LOCK TABLES `movimento` WRITE;
/*!40000 ALTER TABLE `movimento` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pokemon_instancia`
--

DROP TABLE IF EXISTS `pokemon_instancia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pokemon_instancia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `treinador_id` int NOT NULL,
  `especie_id` int NOT NULL,
  `apelido` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `held_item_id` int DEFAULT NULL,
  `nivel` int NOT NULL DEFAULT '5',
  `experiencia_atual` int NOT NULL DEFAULT '0',
  `posicao_time` int NOT NULL DEFAULT '1',
  `esta_desmaiado` tinyint(1) NOT NULL DEFAULT '0',
  `hp_atual` int NOT NULL,
  `hp_max` int NOT NULL,
  `ataque` int NOT NULL,
  `defesa` int NOT NULL,
  `sp_ataque` int NOT NULL,
  `sp_defesa` int NOT NULL,
  `velocidade` int NOT NULL,
  `iv_hp` tinyint NOT NULL DEFAULT '15',
  `iv_ataque` tinyint NOT NULL DEFAULT '15',
  `iv_defesa` tinyint NOT NULL DEFAULT '15',
  `iv_sp_ataque` tinyint NOT NULL DEFAULT '15',
  `iv_sp_defesa` tinyint NOT NULL DEFAULT '15',
  `iv_velocidade` tinyint NOT NULL DEFAULT '15',
  `ev_hp` smallint NOT NULL DEFAULT '0',
  `ev_ataque` smallint NOT NULL DEFAULT '0',
  `ev_defesa` smallint NOT NULL DEFAULT '0',
  `ev_sp_ataque` smallint NOT NULL DEFAULT '0',
  `ev_sp_defesa` smallint NOT NULL DEFAULT '0',
  `ev_velocidade` smallint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `fk_pok_treinador` (`treinador_id`),
  KEY `fk_pok_especie` (`especie_id`),
  KEY `fk_pi_held_item` (`held_item_id`),
  CONSTRAINT `fk_pi_held_item` FOREIGN KEY (`held_item_id`) REFERENCES `held_item` (`id`),
  CONSTRAINT `fk_pok_especie` FOREIGN KEY (`especie_id`) REFERENCES `especie_pokemon` (`id_pokedex`),
  CONSTRAINT `fk_pok_treinador` FOREIGN KEY (`treinador_id`) REFERENCES `treinador` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=214 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pokemon_instancia`
--

LOCK TABLES `pokemon_instancia` WRITE;
/*!40000 ALTER TABLE `pokemon_instancia` DISABLE KEYS */;
/*!40000 ALTER TABLE `pokemon_instancia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pokemon_movimento_ativo`
--

DROP TABLE IF EXISTS `pokemon_movimento_ativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pokemon_movimento_ativo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pokemon_instancia_id` int NOT NULL,
  `movimento_id` int NOT NULL,
  `slot_numero` tinyint NOT NULL,
  `pp_atual` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_instancia_slot` (`pokemon_instancia_id`,`slot_numero`),
  KEY `fk_pma_movimento` (`movimento_id`),
  CONSTRAINT `fk_pma_instancia` FOREIGN KEY (`pokemon_instancia_id`) REFERENCES `pokemon_instancia` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pma_movimento` FOREIGN KEY (`movimento_id`) REFERENCES `movimento` (`id`),
  CONSTRAINT `pokemon_movimento_ativo_chk_1` CHECK ((`slot_numero` between 1 and 4))
) ENGINE=InnoDB AUTO_INCREMENT=1417 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pokemon_movimento_ativo`
--

LOCK TABLES `pokemon_movimento_ativo` WRITE;
/*!40000 ALTER TABLE `pokemon_movimento_ativo` DISABLE KEYS */;
/*!40000 ALTER TABLE `pokemon_movimento_ativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo`
--

DROP TABLE IF EXISTS `tipo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo`
--

LOCK TABLES `tipo` WRITE;
/*!40000 ALTER TABLE `tipo` DISABLE KEYS */;
INSERT INTO `tipo` VALUES (7,'Bug'),(17,'Dark'),(16,'Dragon'),(13,'Electric'),(2,'Fighting'),(10,'Fire'),(3,'Flying'),(8,'Ghost'),(12,'Grass'),(5,'Ground'),(15,'Ice'),(1,'Normal'),(4,'Poison'),(14,'Psychic'),(6,'Rock'),(9,'Steel'),(11,'Water');
/*!40000 ALTER TABLE `tipo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_eficacia`
--

DROP TABLE IF EXISTS `tipo_eficacia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_eficacia` (
  `tipo_ataque_id` int NOT NULL,
  `tipo_defesa_id` int NOT NULL,
  `multiplicador` decimal(3,2) NOT NULL DEFAULT '1.00',
  PRIMARY KEY (`tipo_ataque_id`,`tipo_defesa_id`),
  KEY `fk_te_defesa` (`tipo_defesa_id`),
  CONSTRAINT `fk_te_ataque` FOREIGN KEY (`tipo_ataque_id`) REFERENCES `tipo` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_te_defesa` FOREIGN KEY (`tipo_defesa_id`) REFERENCES `tipo` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_eficacia`
--

LOCK TABLES `tipo_eficacia` WRITE;
/*!40000 ALTER TABLE `tipo_eficacia` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipo_eficacia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `treinador`
--

DROP TABLE IF EXISTS `treinador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `treinador` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `classe` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Treinador',
  `eh_jogador` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `treinador`
--

LOCK TABLES `treinador` WRITE;
/*!40000 ALTER TABLE `treinador` DISABLE KEYS */;
INSERT INTO `treinador` VALUES (1,'Red','Campe??o',1),(2,'Blue','Campe??o',0),(3,'Brock','L??der de Gin??sio',0),(4,'Misty','L??der de Gin??sio',0),(5,'Lt. Surge','L??der de Gin??sio',0),(6,'Erika','L??der de Gin??sio',0),(7,'Koga','L??der de Gin??sio',0),(8,'Sabrina','L??der de Gin??sio',0),(9,'Blaine','L??der de Gin??sio',0),(10,'Giovanni','L??der de Gin??sio',0),(11,'Lorelei','Elite dos Quatro',0),(12,'Bruno','Elite dos Quatro',0),(13,'Agatha','Elite dos Quatro',0),(14,'Lance','Elite dos Quatro',0);
/*!40000 ALTER TABLE `treinador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `treinador_mochila`
--

DROP TABLE IF EXISTS `treinador_mochila`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `treinador_mochila` (
  `id` int NOT NULL AUTO_INCREMENT,
  `treinador_id` int NOT NULL,
  `item_id` int NOT NULL,
  `quantidade` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_treinador_item` (`treinador_id`,`item_id`),
  KEY `fk_tm_item` (`item_id`),
  CONSTRAINT `fk_tm_item` FOREIGN KEY (`item_id`) REFERENCES `item_inventario` (`id`),
  CONSTRAINT `fk_tm_treinador` FOREIGN KEY (`treinador_id`) REFERENCES `treinador` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `treinador_mochila`
--

LOCK TABLES `treinador_mochila` WRITE;
/*!40000 ALTER TABLE `treinador_mochila` DISABLE KEYS */;
INSERT INTO `treinador_mochila` VALUES (1,1,2,4),(2,1,3,3),(3,1,5,2),(4,1,7,2);
/*!40000 ALTER TABLE `treinador_mochila` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_golpes_pokemon_ativos`
--

DROP TABLE IF EXISTS `vw_golpes_pokemon_ativos`;
/*!50001 DROP VIEW IF EXISTS `vw_golpes_pokemon_ativos`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_golpes_pokemon_ativos` AS SELECT 
 1 AS `pokemon_instancia_id`,
 1 AS `treinador`,
 1 AS `apelido`,
 1 AS `slot_numero`,
 1 AS `golpe`,
 1 AS `tipo_golpe`,
 1 AS `categoria`,
 1 AS `poder`,
 1 AS `precisao`,
 1 AS `pp_atual`,
 1 AS `pp_maximo`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_pokedex_kanto`
--

DROP TABLE IF EXISTS `vw_pokedex_kanto`;
/*!50001 DROP VIEW IF EXISTS `vw_pokedex_kanto`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_pokedex_kanto` AS SELECT 
 1 AS `id_pokedex`,
 1 AS `nome`,
 1 AS `tipo1`,
 1 AS `tipo2`,
 1 AS `hp_base`,
 1 AS `ataque_base`,
 1 AS `defesa_base`,
 1 AS `sp_ataque_base`,
 1 AS `sp_defesa_base`,
 1 AS `velocidade_base`,
 1 AS `total_stats`,
 1 AS `exp_base`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_time_treinadores`
--

DROP TABLE IF EXISTS `vw_time_treinadores`;
/*!50001 DROP VIEW IF EXISTS `vw_time_treinadores`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_time_treinadores` AS SELECT 
 1 AS `treinador`,
 1 AS `classe`,
 1 AS `posicao_time`,
 1 AS `apelido`,
 1 AS `especie`,
 1 AS `nivel`,
 1 AS `hp_atual`,
 1 AS `hp_max`,
 1 AS `ataque`,
 1 AS `defesa`,
 1 AS `sp_ataque`,
 1 AS `sp_defesa`,
 1 AS `velocidade`,
 1 AS `esta_desmaiado`,
 1 AS `experiencia_atual`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'pokemon_firered'
--
/*!50003 DROP FUNCTION IF EXISTS `fn_calcular_hp_max` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_calcular_hp_max`(p_base INT, p_iv INT, p_ev INT, p_nivel INT) RETURNS int
    DETERMINISTIC
BEGIN
    RETURN FLOOR(((2 * p_base + p_iv + FLOOR(p_ev / 4)) * p_nivel) / 100) + p_nivel + 10;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_calcular_stat` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_calcular_stat`(p_base INT, p_iv INT, p_ev INT, p_nivel INT) RETURNS int
    DETERMINISTIC
BEGIN
    RETURN FLOOR(((2 * p_base + p_iv + FLOOR(p_ev / 4)) * p_nivel) / 100) + 5;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_obter_multiplicador_tipo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_obter_multiplicador_tipo`(p_tipo_ataque_id INT, p_pokemon_defensor_id INT) RETURNS decimal(4,2)
    READS SQL DATA
BEGIN
    DECLARE v_tipo1_def INT;
    DECLARE v_tipo2_def INT;
    DECLARE v_mult1 DECIMAL(3,2) DEFAULT 1.00;
    DECLARE v_mult2 DECIMAL(3,2) DEFAULT 1.00;

    SELECT ep.tipo1_id, ep.tipo2_id
    INTO v_tipo1_def, v_tipo2_def
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = p_pokemon_defensor_id;

    
    SELECT IFNULL(multiplicador, 1.00) INTO v_mult1
    FROM tipo_eficacia
    WHERE tipo_ataque_id = p_tipo_ataque_id AND tipo_defesa_id = v_tipo1_def;

    
    IF v_tipo2_def IS NOT NULL THEN
        SELECT IFNULL(multiplicador, 1.00) INTO v_mult2
        FROM tipo_eficacia
        WHERE tipo_ataque_id = p_tipo_ataque_id AND tipo_defesa_id = v_tipo2_def;
    END IF;

    RETURN (v_mult1 * v_mult2);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_criar_pokemon_treinador` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_criar_pokemon_treinador`(
    IN p_treinador_id INT,
    IN p_especie_id INT,
    IN p_nivel INT,
    IN p_apelido VARCHAR(50),
    IN p_posicao_time INT
)
BEGIN
    DECLARE v_instancia_id INT;
    DECLARE v_base_hp, v_base_atk, v_base_def, v_base_sp_atk, v_base_sp_def, v_base_spd INT;
    DECLARE v_iv_hp, v_iv_atk, v_iv_def, v_iv_sp_atk, v_iv_sp_def, v_iv_spd INT;
    DECLARE v_calc_hp_max INT;

    
    SET v_iv_hp = FLOOR(RAND() * 32);
    SET v_iv_atk = FLOOR(RAND() * 32);
    SET v_iv_def = FLOOR(RAND() * 32);
    SET v_iv_sp_atk = FLOOR(RAND() * 32);
    SET v_iv_sp_def = FLOOR(RAND() * 32);
    SET v_iv_spd = FLOOR(RAND() * 32);

    SELECT hp_base, ataque_base, defesa_base, sp_ataque_base, sp_defesa_base, velocidade_base
    INTO v_base_hp, v_base_atk, v_base_def, v_base_sp_atk, v_base_sp_def, v_base_spd
    FROM especie_pokemon WHERE id_pokedex = p_especie_id;

    SET v_calc_hp_max = fn_calcular_hp_max(v_base_hp, v_iv_hp, 0, p_nivel);

    INSERT INTO pokemon_instancia (
        treinador_id, especie_id, apelido, nivel, experiencia_atual, posicao_time, esta_desmaiado,
        hp_atual, hp_max, ataque, defesa, sp_ataque, sp_defesa, velocidade,
        iv_hp, iv_ataque, iv_defesa, iv_sp_ataque, iv_sp_defesa, iv_velocidade,
        ev_hp, ev_ataque, ev_defesa, ev_sp_ataque, ev_sp_defesa, ev_velocidade
    ) VALUES (
        p_treinador_id, p_especie_id, p_apelido, p_nivel, 0, p_posicao_time, FALSE,
        v_calc_hp_max, v_calc_hp_max,
        fn_calcular_stat(v_base_atk, v_iv_atk, 0, p_nivel),
        fn_calcular_stat(v_base_def, v_iv_def, 0, p_nivel),
        fn_calcular_stat(v_base_sp_atk, v_iv_sp_atk, 0, p_nivel),
        fn_calcular_stat(v_base_sp_def, v_iv_sp_def, 0, p_nivel),
        fn_calcular_stat(v_base_spd, v_iv_spd, 0, p_nivel),
        v_iv_hp, v_iv_atk, v_iv_def, v_iv_sp_atk, v_iv_sp_def, v_iv_spd,
        0, 0, 0, 0, 0, 0
    );

    SET v_instancia_id = LAST_INSERT_ID();

    
    INSERT INTO pokemon_movimento_ativo (pokemon_instancia_id, movimento_id, slot_numero, pp_atual)
    SELECT v_instancia_id, sub.movimento_id, (@slot := @slot + 1) AS slot_num, sub.pp_maximo
    FROM (
        SELECT emn.movimento_id, m.pp_maximo, MAX(emn.nivel_aprendizado) as max_lvl
        FROM especie_movimento_nivel emn
        JOIN movimento m ON emn.movimento_id = m.id
        WHERE emn.especie_id = p_especie_id AND emn.nivel_aprendizado <= p_nivel
        GROUP BY emn.movimento_id, m.pp_maximo
        ORDER BY max_lvl DESC, emn.movimento_id DESC
        LIMIT 4
    ) sub, (SELECT @slot := 0) r;

    SELECT v_instancia_id AS nova_instancia_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_enfermeira_joy` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_enfermeira_joy`(IN p_treinador_id INT)
BEGIN
    DECLARE v_nome_treinador VARCHAR(50);
    DECLARE v_em_batalha INT;

    SELECT nome INTO v_nome_treinador FROM treinador WHERE id = p_treinador_id;
    IF v_nome_treinador IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Treinador n├úo encontrado!';
    END IF;

    
    SELECT COUNT(*) INTO v_em_batalha
    FROM batalha
    WHERE status = 'EM_ANDAMENTO'
      AND (treinador_jogador_id = p_treinador_id OR treinador_oponente_id = p_treinador_id);

    IF v_em_batalha > 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Enfermeira Joy: "Voc├¬ est├í no meio de uma batalha! Termine seu combate antes de vir ao Centro Pok├®mon."';
    END IF;

    
    UPDATE pokemon_instancia
    SET hp_atual = hp_max,
        esta_desmaiado = FALSE
    WHERE treinador_id = p_treinador_id;

    
    UPDATE pokemon_movimento_ativo pma
    JOIN pokemon_instancia pi ON pma.pokemon_instancia_id = pi.id
    JOIN movimento m ON pma.movimento_id = m.id
    SET pma.pp_atual = m.pp_maximo
    WHERE pi.treinador_id = p_treinador_id;

    
    SELECT CONCAT('Enfermeira Joy: "Ol├í, ', v_nome_treinador, '! Seus pok├®mons foram totalmente curados e os PPs restaurados. Esperamos v├¬-lo novamente!"') AS centro_pokemon;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_equipar_held_item` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_equipar_held_item`(
    IN p_pokemon_instancia_id INT,
    IN p_held_item_id INT
)
BEGIN
    DECLARE v_treinador_id INT;
    DECLARE v_em_batalha INT;
    DECLARE v_nome_item VARCHAR(50);
    DECLARE v_nome_pok VARCHAR(50);

    
    SELECT treinador_id, apelido INTO v_treinador_id, v_nome_pok
    FROM pokemon_instancia WHERE id = p_pokemon_instancia_id;

    IF v_treinador_id IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Pok├®mon n├úo encontrado!';
    END IF;

    
    SELECT COUNT(*) INTO v_em_batalha
    FROM batalha
    WHERE status = 'EM_ANDAMENTO'
      AND (treinador_jogador_id = v_treinador_id OR treinador_oponente_id = v_treinador_id);

    IF v_em_batalha > 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'N├úo ├® poss├¡vel alterar held item durante uma batalha! Equipamentos s├│ podem ser alterados fora de combate.';
    END IF;

    
    SELECT nome INTO v_nome_item FROM held_item WHERE id = p_held_item_id;
    IF v_nome_item IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Held Item n├úo encontrado!';
    END IF;

    
    UPDATE pokemon_instancia
    SET held_item_id = p_held_item_id
    WHERE id = p_pokemon_instancia_id;

    SELECT CONCAT(v_nome_pok, ' agora est├í segurando: ', v_nome_item, '!') AS status_held_item;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_executar_turno_batalha` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_executar_turno_batalha`(
    IN p_batalha_id INT,
    IN p_movimento_jogador_id INT
)
proc_label: BEGIN
    
    DECLARE v_status_batalha VARCHAR(30);
    DECLARE v_turno INT;
    DECLARE v_treinador_jog_id, v_treinador_opo_id INT;
    DECLARE v_pok_jog_id, v_pok_opo_id INT;
    DECLARE v_speed_jog, v_speed_opo INT;
    DECLARE v_mov_opo_id INT;

    
    DECLARE v_primeiro_atacante_id, v_segundo_atacante_id INT;
    DECLARE v_primeiro_defensor_id, v_segundo_defensor_id INT;
    DECLARE v_primeiro_mov_id, v_segundo_mov_id INT;

    
    DECLARE v_poder, v_precisao, v_tipo_mov INT;
    DECLARE v_categoria VARCHAR(20);
    DECLARE v_atk_stat, v_def_stat, v_nivel_atk INT;
    DECLARE v_dano INT;
    DECLARE v_mult_tipo DECIMAL(4,2);
    DECLARE v_stab DECIMAL(3,2);
    DECLARE v_msg TEXT;
    DECLARE v_tipo1_atk, v_tipo2_atk INT;
    DECLARE v_exp_ganha INT;
    DECLARE v_base_exp_derrotado INT;
    DECLARE v_nivel_derrotado INT;
    DECLARE v_proximo_pok_id INT;
    DECLARE v_prio_jog, v_prio_opo INT DEFAULT 0;

    
    SELECT status, turno_atual, treinador_jogador_id, treinador_oponente_id, pokemon_ativo_jogador_id, pokemon_ativo_oponente_id
    INTO v_status_batalha, v_turno, v_treinador_jog_id, v_treinador_opo_id, v_pok_jog_id, v_pok_opo_id
    FROM batalha WHERE id = p_batalha_id;

    IF v_status_batalha != 'EM_ANDAMENTO' THEN
        SELECT CONCAT('A batalha j├í terminou! Vencedor: ', IFNULL((SELECT nome FROM treinador WHERE id = (SELECT vencedor_id FROM batalha WHERE id = p_batalha_id)), 'Ningu├®m')) AS status;
        LEAVE proc_label;
    END IF;

    
    SELECT movimento_id INTO v_mov_opo_id
    FROM pokemon_movimento_ativo
    WHERE pokemon_instancia_id = v_pok_opo_id AND pp_atual > 0
    ORDER BY RAND() LIMIT 1;

    
    IF v_mov_opo_id IS NULL THEN
        SET v_mov_opo_id = 33;
    END IF;

    
    SELECT prioridade INTO v_prio_jog FROM movimento WHERE id = p_movimento_jogador_id;
    SELECT prioridade INTO v_prio_opo FROM movimento WHERE id = v_mov_opo_id;

    
    SELECT velocidade INTO v_speed_jog FROM pokemon_instancia WHERE id = v_pok_jog_id;
    SELECT velocidade INTO v_speed_opo FROM pokemon_instancia WHERE id = v_pok_opo_id;

    
    
    IF (v_prio_jog > v_prio_opo) OR (v_prio_jog = v_prio_opo AND v_speed_jog >= v_speed_opo) THEN
        SET v_primeiro_atacante_id = v_pok_jog_id;
        SET v_primeiro_defensor_id = v_pok_opo_id;
        SET v_primeiro_mov_id = p_movimento_jogador_id;

        SET v_segundo_atacante_id = v_pok_opo_id;
        SET v_segundo_defensor_id = v_pok_jog_id;
        SET v_segundo_mov_id = v_mov_opo_id;
    ELSE
        SET v_primeiro_atacante_id = v_pok_opo_id;
        SET v_primeiro_defensor_id = v_pok_jog_id;
        SET v_primeiro_mov_id = v_mov_opo_id;

        SET v_segundo_atacante_id = v_pok_jog_id;
        SET v_segundo_defensor_id = v_pok_opo_id;
        SET v_segundo_mov_id = p_movimento_jogador_id;
    END IF;

    
    
    
    SELECT poder, precisao, tipo_id, categoria INTO v_poder, v_precisao, v_tipo_mov, v_categoria
    FROM movimento WHERE id = v_primeiro_mov_id;

    SELECT pi.nivel, ep.tipo1_id, ep.tipo2_id,
           CASE WHEN v_categoria = 'Special' THEN pi.sp_ataque ELSE pi.ataque END
    INTO v_nivel_atk, v_tipo1_atk, v_tipo2_atk, v_atk_stat
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = v_primeiro_atacante_id;

    SELECT CASE WHEN v_categoria = 'Special' THEN pi.sp_defesa ELSE pi.defesa END
    INTO v_def_stat
    FROM pokemon_instancia pi
    WHERE pi.id = v_primeiro_defensor_id;

    
    UPDATE pokemon_movimento_ativo
    SET pp_atual = GREATEST(0, pp_atual - 1)
    WHERE pokemon_instancia_id = v_primeiro_atacante_id AND movimento_id = v_primeiro_mov_id;

    
    IF v_tipo_mov = v_tipo1_atk OR (v_tipo2_atk IS NOT NULL AND v_tipo_mov = v_tipo2_atk) THEN
        SET v_stab = 1.50;
    ELSE
        SET v_stab = 1.00;
    END IF;

    
    SET v_mult_tipo = fn_obter_multiplicador_tipo(v_tipo_mov, v_primeiro_defensor_id);

    
    IF (SELECT hi.efeito_tipo FROM pokemon_instancia pi JOIN held_item hi ON pi.held_item_id = hi.id WHERE pi.id = v_primeiro_atacante_id) = 'BOOST_TIPO'
       AND (SELECT hi.param_tipo_id FROM pokemon_instancia pi JOIN held_item hi ON pi.held_item_id = hi.id WHERE pi.id = v_primeiro_atacante_id) = v_tipo_mov THEN
        SET v_stab = v_stab * 1.10;
    END IF;

    
    IF v_poder IS NOT NULL AND v_poder > 0 THEN
        SET v_dano = FLOOR((((((2 * v_nivel_atk) / 5) + 2) * v_poder * (v_atk_stat / v_def_stat)) / 50 + 2) * v_stab * v_mult_tipo);
        IF v_mult_tipo > 0 AND v_dano = 0 THEN SET v_dano = 1; END IF;
    ELSE
        SET v_dano = 0;
    END IF;

    
    UPDATE pokemon_instancia
    SET esta_desmaiado = (hp_atual <= v_dano),
        hp_atual = GREATEST(0, hp_atual - v_dano)
    WHERE id = v_primeiro_defensor_id;

    SET v_msg = CONCAT((SELECT apelido FROM pokemon_instancia WHERE id = v_primeiro_atacante_id), ' usou ',
                       (SELECT nome FROM movimento WHERE id = v_primeiro_mov_id), '! Dano: ', v_dano);
    IF v_mult_tipo >= 2.0 THEN SET v_msg = CONCAT(v_msg, ' (Super Efetivo!)'); END IF;
    IF v_mult_tipo <= 0.5 AND v_mult_tipo > 0 THEN SET v_msg = CONCAT(v_msg, ' (N├úo foi muito efetivo...)'); END IF;
    IF v_mult_tipo = 0 THEN SET v_msg = CONCAT(v_msg, ' (N├úo teve efeito!)'); END IF;

    INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
    VALUES (p_batalha_id, v_turno, 1, v_primeiro_atacante_id, v_primeiro_defensor_id, v_primeiro_mov_id, v_dano, v_mult_tipo, (SELECT hp_atual FROM pokemon_instancia WHERE id = v_primeiro_defensor_id), v_msg);

    
    IF (SELECT esta_desmaiado FROM pokemon_instancia WHERE id = v_primeiro_defensor_id) = TRUE THEN
        
        SELECT ep.exp_base, pi.nivel INTO v_base_exp_derrotado, v_nivel_derrotado
        FROM pokemon_instancia pi
        JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
        WHERE pi.id = v_primeiro_defensor_id;

        
        SET v_exp_ganha = FLOOR((1.5 * v_base_exp_derrotado * v_nivel_derrotado) / 7);

        UPDATE pokemon_instancia
        SET experiencia_atual = experiencia_atual + v_exp_ganha
        WHERE id = v_primeiro_atacante_id;

        
        SELECT id INTO v_proximo_pok_id
        FROM pokemon_instancia
        WHERE treinador_id = (SELECT treinador_id FROM pokemon_instancia WHERE id = v_primeiro_defensor_id)
          AND esta_desmaiado = FALSE AND posicao_time <= 6
        ORDER BY posicao_time ASC LIMIT 1;

        IF v_proximo_pok_id IS NOT NULL THEN
            
            IF v_primeiro_defensor_id = v_pok_jog_id THEN
                UPDATE batalha SET pokemon_ativo_jogador_id = v_proximo_pok_id, turno_atual = v_turno + 1 WHERE id = p_batalha_id;
            ELSE
                UPDATE batalha SET pokemon_ativo_oponente_id = v_proximo_pok_id, turno_atual = v_turno + 1 WHERE id = p_batalha_id;
            END IF;
            SELECT 'Pokemon desmaiou! Oponente enviou o pr├│ximo pok├®mon do time!' AS resultado_turno, v_msg AS acao;
            LEAVE proc_label;
        ELSE
            
            IF v_primeiro_defensor_id = v_pok_jog_id THEN
                UPDATE batalha SET status = 'DERROTA_JOGADOR', vencedor_id = v_treinador_opo_id WHERE id = p_batalha_id;
                SELECT 'Todos os seus pokemons foram derrotados! Fim da Batalha (Derrota).' AS resultado_batalha;
            ELSE
                UPDATE batalha SET status = 'VITORIA_JOGADOR', vencedor_id = v_treinador_jog_id WHERE id = p_batalha_id;
                SELECT 'Todos os pokemons do oponente foram derrotados! VOC├è VENCEU A BATALHA!' AS resultado_batalha;
            END IF;
            LEAVE proc_label;
        END IF;
    END IF;

    
    
    
    SELECT poder, precisao, tipo_id, categoria INTO v_poder, v_precisao, v_tipo_mov, v_categoria
    FROM movimento WHERE id = v_segundo_mov_id;

    SELECT pi.nivel, ep.tipo1_id, ep.tipo2_id,
           CASE WHEN v_categoria = 'Special' THEN pi.sp_ataque ELSE pi.ataque END
    INTO v_nivel_atk, v_tipo1_atk, v_tipo2_atk, v_atk_stat
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = v_segundo_atacante_id;

    SELECT CASE WHEN v_categoria = 'Special' THEN pi.sp_defesa ELSE pi.defesa END
    INTO v_def_stat
    FROM pokemon_instancia pi
    WHERE pi.id = v_segundo_defensor_id;

    UPDATE pokemon_movimento_ativo
    SET pp_atual = GREATEST(0, pp_atual - 1)
    WHERE pokemon_instancia_id = v_segundo_atacante_id AND movimento_id = v_segundo_mov_id;

    IF v_tipo_mov = v_tipo1_atk OR (v_tipo2_atk IS NOT NULL AND v_tipo_mov = v_tipo2_atk) THEN
        SET v_stab = 1.50;
    ELSE
        SET v_stab = 1.00;
    END IF;

    SET v_mult_tipo = fn_obter_multiplicador_tipo(v_tipo_mov, v_segundo_defensor_id);

    
    IF (SELECT hi.efeito_tipo FROM pokemon_instancia pi JOIN held_item hi ON pi.held_item_id = hi.id WHERE pi.id = v_segundo_atacante_id) = 'BOOST_TIPO'
       AND (SELECT hi.param_tipo_id FROM pokemon_instancia pi JOIN held_item hi ON pi.held_item_id = hi.id WHERE pi.id = v_segundo_atacante_id) = v_tipo_mov THEN
        SET v_stab = v_stab * 1.10;
    END IF;

    IF v_poder IS NOT NULL AND v_poder > 0 THEN
        SET v_dano = FLOOR((((((2 * v_nivel_atk) / 5) + 2) * v_poder * (v_atk_stat / v_def_stat)) / 50 + 2) * v_stab * v_mult_tipo);
        IF v_mult_tipo > 0 AND v_dano = 0 THEN SET v_dano = 1; END IF;
    ELSE
        SET v_dano = 0;
    END IF;

    
    UPDATE pokemon_instancia
    SET esta_desmaiado = (hp_atual <= v_dano),
        hp_atual = GREATEST(0, hp_atual - v_dano)
    WHERE id = v_segundo_defensor_id;

    SET v_msg = CONCAT((SELECT apelido FROM pokemon_instancia WHERE id = v_segundo_atacante_id), ' usou ',
                       (SELECT nome FROM movimento WHERE id = v_segundo_mov_id), '! Dano: ', v_dano);
    IF v_mult_tipo >= 2.0 THEN SET v_msg = CONCAT(v_msg, ' (Super Efetivo!)'); END IF;
    IF v_mult_tipo <= 0.5 AND v_mult_tipo > 0 THEN SET v_msg = CONCAT(v_msg, ' (N├úo foi muito efetivo...)'); END IF;
    IF v_mult_tipo = 0 THEN SET v_msg = CONCAT(v_msg, ' (N├úo teve efeito!)'); END IF;

    INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
    VALUES (p_batalha_id, v_turno, 2, v_segundo_atacante_id, v_segundo_defensor_id, v_segundo_mov_id, v_dano, v_mult_tipo, (SELECT hp_atual FROM pokemon_instancia WHERE id = v_segundo_defensor_id), v_msg);

    
    IF (SELECT esta_desmaiado FROM pokemon_instancia WHERE id = v_segundo_defensor_id) = TRUE THEN
        SELECT ep.exp_base, pi.nivel INTO v_base_exp_derrotado, v_nivel_derrotado
        FROM pokemon_instancia pi
        JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
        WHERE pi.id = v_segundo_defensor_id;

        SET v_exp_ganha = FLOOR((1.5 * v_base_exp_derrotado * v_nivel_derrotado) / 7);

        UPDATE pokemon_instancia
        SET experiencia_atual = experiencia_atual + v_exp_ganha
        WHERE id = v_segundo_atacante_id;

        SELECT id INTO v_proximo_pok_id
        FROM pokemon_instancia
        WHERE treinador_id = (SELECT treinador_id FROM pokemon_instancia WHERE id = v_segundo_defensor_id)
          AND esta_desmaiado = FALSE AND posicao_time <= 6
        ORDER BY posicao_time ASC LIMIT 1;

        IF v_proximo_pok_id IS NOT NULL THEN
            IF v_segundo_defensor_id = v_pok_jog_id THEN
                UPDATE batalha SET pokemon_ativo_jogador_id = v_proximo_pok_id, turno_atual = v_turno + 1 WHERE id = p_batalha_id;
            ELSE
                UPDATE batalha SET pokemon_ativo_oponente_id = v_proximo_pok_id, turno_atual = v_turno + 1 WHERE id = p_batalha_id;
            END IF;
            SELECT 'Pokemon desmaiou! Pr├│ximo pok├®mon enviado para batalha!' AS resultado_turno, v_msg AS acao;
            LEAVE proc_label;
        ELSE
            IF v_segundo_defensor_id = v_pok_jog_id THEN
                UPDATE batalha SET status = 'DERROTA_JOGADOR', vencedor_id = v_treinador_opo_id WHERE id = p_batalha_id;
                SELECT 'Todos os seus pokemons foram derrotados! Fim da Batalha (Derrota).' AS resultado_batalha;
            ELSE
                UPDATE batalha SET status = 'VITORIA_JOGADOR', vencedor_id = v_treinador_jog_id WHERE id = p_batalha_id;
                SELECT 'Todos os pokemons do oponente foram derrotados! VOC├è VENCEU A BATALHA!' AS resultado_batalha;
            END IF;
            LEAVE proc_label;
        END IF;
    END IF;

    
    
    
    IF (SELECT pi.held_item_id FROM pokemon_instancia pi WHERE pi.id = v_pok_jog_id) = 1 THEN
        UPDATE pokemon_instancia SET hp_atual = LEAST(hp_max, hp_atual + FLOOR(hp_max / 16)) WHERE id = v_pok_jog_id;
        INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
        VALUES (p_batalha_id, v_turno, 3, v_pok_jog_id, v_pok_jog_id, NULL, 0, 1.00, (SELECT hp_atual FROM pokemon_instancia WHERE id = v_pok_jog_id), CONCAT((SELECT apelido FROM pokemon_instancia WHERE id = v_pok_jog_id), ' recuperou um pouco de HP com Leftovers!'));
    END IF;

    IF (SELECT pi.held_item_id FROM pokemon_instancia pi WHERE pi.id = v_pok_opo_id) = 1 THEN
        UPDATE pokemon_instancia SET hp_atual = LEAST(hp_max, hp_atual + FLOOR(hp_max / 16)) WHERE id = v_pok_opo_id;
        INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
        VALUES (p_batalha_id, v_turno, 4, v_pok_opo_id, v_pok_opo_id, NULL, 0, 1.00, (SELECT hp_atual FROM pokemon_instancia WHERE id = v_pok_opo_id), CONCAT((SELECT apelido FROM pokemon_instancia WHERE id = v_pok_opo_id), ' recuperou um pouco de HP com Leftovers!'));
    END IF;

    
    UPDATE batalha SET turno_atual = v_turno + 1 WHERE id = p_batalha_id;

    SELECT CONCAT('Turno ', v_turno, ' finalizado!') AS status,
           (SELECT CONCAT(apelido, ': ', hp_atual, '/', hp_max, ' HP') FROM pokemon_instancia WHERE id = v_pok_jog_id) AS pokemon_jogador,
           (SELECT CONCAT(apelido, ': ', hp_atual, '/', hp_max, ' HP') FROM pokemon_instancia WHERE id = v_pok_opo_id) AS pokemon_oponente;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_gerar_encontro_selvagem` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_gerar_encontro_selvagem`(IN p_mapa_id INT)
BEGIN
    DECLARE v_especie_id INT;
    DECLARE v_nivel_min, v_nivel_max, v_nivel_sorteado INT;

    SELECT especie_id, nivel_min, nivel_max
    INTO v_especie_id, v_nivel_min, v_nivel_max
    FROM encontro_mapa
    WHERE mapa_id = p_mapa_id
    ORDER BY (RAND() * (100.0 / taxa_chance)) ASC
    LIMIT 1;

    IF v_especie_id IS NULL THEN
        SELECT 'Nenhum pok├®mon selvagem encontrado neste mapa.' AS resultado;
    ELSE
        SET v_nivel_sorteado = FLOOR(v_nivel_min + (RAND() * (v_nivel_max - v_nivel_min + 1)));
        SELECT m.nome AS local,
               ep.nome AS pokemon_selvagem,
               v_nivel_sorteado AS nivel,
               t1.nome AS tipo1,
               t2.nome AS tipo2
        FROM especie_pokemon ep
        JOIN mapa m ON m.id = p_mapa_id
        JOIN tipo t1 ON ep.tipo1_id = t1.id
        LEFT JOIN tipo t2 ON ep.tipo2_id = t2.id
        WHERE ep.id_pokedex = v_especie_id;
    END IF;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_iniciar_batalha` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_iniciar_batalha`(
    IN p_treinador_jogador_id INT,
    IN p_treinador_oponente_id INT
)
BEGIN
    DECLARE v_batalha_id INT;
    DECLARE v_pok_jog_id INT;
    DECLARE v_pok_opo_id INT;

    DECLARE v_batalha_em_andamento INT;

    
    SELECT COUNT(*) INTO v_batalha_em_andamento
    FROM batalha
    WHERE status = 'EM_ANDAMENTO'
      AND (treinador_jogador_id IN (p_treinador_jogador_id, p_treinador_oponente_id)
           OR treinador_oponente_id IN (p_treinador_jogador_id, p_treinador_oponente_id));

    IF v_batalha_em_andamento > 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'N├úo ├® poss├¡vel iniciar a batalha! Um dos treinadores j├í est├í participando de uma batalha em andamento.';
    END IF;

    
    SELECT id INTO v_pok_jog_id
    FROM pokemon_instancia
    WHERE treinador_id = p_treinador_jogador_id AND esta_desmaiado = FALSE AND posicao_time <= 6
    ORDER BY posicao_time ASC LIMIT 1;

    SELECT id INTO v_pok_opo_id
    FROM pokemon_instancia
    WHERE treinador_id = p_treinador_oponente_id AND esta_desmaiado = FALSE AND posicao_time <= 6
    ORDER BY posicao_time ASC LIMIT 1;

    IF v_pok_jog_id IS NULL OR v_pok_opo_id IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Ambos os treinadores precisam de pelo menos 1 pok├®mon apto para batalhar!';
    END IF;

    INSERT INTO batalha (treinador_jogador_id, treinador_oponente_id, status, pokemon_ativo_jogador_id, pokemon_ativo_oponente_id, turno_atual)
    VALUES (p_treinador_jogador_id, p_treinador_oponente_id, 'EM_ANDAMENTO', v_pok_jog_id, v_pok_opo_id, 1);

    SET v_batalha_id = LAST_INSERT_ID();

    SELECT v_batalha_id AS batalha_id,
           'Batalha iniciada com sucesso!' AS status,
           v_pok_jog_id AS pokemon_jogador_id,
           v_pok_opo_id AS pokemon_oponente_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_recalcular_status_pokemon` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_recalcular_status_pokemon`(IN p_instancia_id INT)
BEGIN
    DECLARE v_base_hp, v_base_atk, v_base_def, v_base_sp_atk, v_base_sp_def, v_base_spd INT;
    DECLARE v_iv_hp, v_iv_atk, v_iv_def, v_iv_sp_atk, v_iv_sp_def, v_iv_spd INT;
    DECLARE v_ev_hp, v_ev_atk, v_ev_def, v_ev_sp_atk, v_ev_sp_def, v_ev_spd INT;
    DECLARE v_nivel INT;
    DECLARE v_hp_max_antigo, v_novo_hp_max, v_hp_atual INT;

    SELECT ep.hp_base, ep.ataque_base, ep.defesa_base, ep.sp_ataque_base, ep.sp_defesa_base, ep.velocidade_base,
           pi.iv_hp, pi.iv_ataque, pi.iv_defesa, pi.iv_sp_ataque, pi.iv_sp_defesa, pi.iv_velocidade,
           pi.ev_hp, pi.ev_ataque, pi.ev_defesa, pi.ev_sp_ataque, pi.ev_sp_defesa, pi.ev_velocidade,
           pi.nivel, pi.hp_max, pi.hp_atual
    INTO v_base_hp, v_base_atk, v_base_def, v_base_sp_atk, v_base_sp_def, v_base_spd,
         v_iv_hp, v_iv_atk, v_iv_def, v_iv_sp_atk, v_iv_sp_def, v_iv_spd,
         v_ev_hp, v_ev_atk, v_ev_def, v_ev_sp_atk, v_ev_sp_def, v_ev_spd,
         v_nivel, v_hp_max_antigo, v_hp_atual
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = p_instancia_id;

    SET v_novo_hp_max = fn_calcular_hp_max(v_base_hp, v_iv_hp, v_ev_hp, v_nivel);

    UPDATE pokemon_instancia
    SET hp_max = v_novo_hp_max,
        hp_atual = CASE WHEN v_hp_atual <= 0 THEN 0 ELSE (v_hp_atual + (v_novo_hp_max - v_hp_max_antigo)) END,
        ataque = fn_calcular_stat(v_base_atk, v_iv_atk, v_ev_atk, v_nivel),
        defesa = fn_calcular_stat(v_base_def, v_iv_def, v_ev_def, v_nivel),
        sp_ataque = fn_calcular_stat(v_base_sp_atk, v_iv_sp_atk, v_ev_sp_atk, v_nivel),
        sp_defesa = fn_calcular_stat(v_base_sp_def, v_iv_sp_def, v_ev_sp_def, v_nivel),
        velocidade = fn_calcular_stat(v_base_spd, v_iv_spd, v_ev_spd, v_nivel)
    WHERE id = p_instancia_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_remover_held_item` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_remover_held_item`(
    IN p_pokemon_instancia_id INT
)
BEGIN
    DECLARE v_treinador_id INT;
    DECLARE v_em_batalha INT;
    DECLARE v_nome_pok VARCHAR(50);

    SELECT treinador_id, apelido INTO v_treinador_id, v_nome_pok
    FROM pokemon_instancia WHERE id = p_pokemon_instancia_id;

    IF v_treinador_id IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Pok├®mon n├úo encontrado!';
    END IF;

    SELECT COUNT(*) INTO v_em_batalha
    FROM batalha
    WHERE status = 'EM_ANDAMENTO'
      AND (treinador_jogador_id = v_treinador_id OR treinador_oponente_id = v_treinador_id);

    IF v_em_batalha > 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'N├úo ├® poss├¡vel remover held item durante uma batalha! Equipamentos s├│ podem ser alterados fora de combate.';
    END IF;

    UPDATE pokemon_instancia
    SET held_item_id = NULL
    WHERE id = p_pokemon_instancia_id;

    SELECT CONCAT('Item segurado removido de ', v_nome_pok, '.') AS status_held_item;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_subir_nivel` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_subir_nivel`(IN p_instancia_id INT)
BEGIN
    DECLARE v_especie_atual INT;
    DECLARE v_novo_nivel INT;
    DECLARE v_especie_destino INT;
    DECLARE v_nome_especie_origem VARCHAR(50);
    DECLARE v_nome_especie_destino VARCHAR(50);

    
    UPDATE pokemon_instancia
    SET nivel = nivel + 1
    WHERE id = p_instancia_id;

    SELECT pi.especie_id, pi.nivel, ep.nome
    INTO v_especie_atual, v_novo_nivel, v_nome_especie_origem
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = p_instancia_id;

    
    CALL sp_recalcular_status_pokemon(p_instancia_id);

    
    SELECT especie_destino_id INTO v_especie_destino
    FROM evolucao
    WHERE especie_origem_id = v_especie_atual
      AND metodo_evolucao = 'LEVEL_UP'
      AND CAST(parametro AS UNSIGNED) <= v_novo_nivel
    LIMIT 1;

    IF v_especie_destino IS NOT NULL THEN
        SELECT nome INTO v_nome_especie_destino FROM especie_pokemon WHERE id_pokedex = v_especie_destino;
        UPDATE pokemon_instancia SET especie_id = v_especie_destino WHERE id = p_instancia_id;
        CALL sp_recalcular_status_pokemon(p_instancia_id);
        SELECT CONCAT('Parab├®ns! Seu ', v_nome_especie_origem, ' subiu para o n├¡vel ', v_novo_nivel, ' e evoluiu para ', v_nome_especie_destino, '!') AS evento_evolucao;
    ELSE
        SELECT CONCAT(v_nome_especie_origem, ' subiu para o n├¡vel ', v_novo_nivel, '!') AS evento_nivel;
    END IF;

    
    SELECT m.id AS movimento_id, m.nome, m.poder, m.precisao, m.pp_maximo, m.categoria
    FROM especie_movimento_nivel emn
    JOIN movimento m ON emn.movimento_id = m.id
    WHERE emn.especie_id = (SELECT especie_id FROM pokemon_instancia WHERE id = p_instancia_id)
      AND emn.nivel_aprendizado = v_novo_nivel;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_trocar_movimento_pokemon` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_trocar_movimento_pokemon`(
    IN p_pokemon_instancia_id INT,
    IN p_movimento_atual_id INT,
    IN p_novo_movimento_id INT
)
proc_mov: BEGIN
    DECLARE v_especie_id INT;
    DECLARE v_nivel_pokemon INT;
    DECLARE v_slot INT;
    DECLARE v_compativel INT;
    DECLARE v_ja_tem INT;
    DECLARE v_pp_max INT;
    DECLARE v_nome_pok VARCHAR(50);
    DECLARE v_nome_antigo VARCHAR(50);
    DECLARE v_nome_novo VARCHAR(50);

    
    SELECT especie_id, nivel, apelido
    INTO v_especie_id, v_nivel_pokemon, v_nome_pok
    FROM pokemon_instancia WHERE id = p_pokemon_instancia_id;

    IF v_especie_id IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Pok├®mon n├úo encontrado!';
    END IF;

    
    SELECT slot_numero INTO v_slot
    FROM pokemon_movimento_ativo
    WHERE pokemon_instancia_id = p_pokemon_instancia_id AND movimento_id = p_movimento_atual_id;

    IF v_slot IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'O pok├®mon n├úo possui esse movimento atual equipado para ser substitu├¡do!';
    END IF;

    
    SELECT COUNT(*) INTO v_ja_tem
    FROM pokemon_movimento_ativo
    WHERE pokemon_instancia_id = p_pokemon_instancia_id AND movimento_id = p_novo_movimento_id;

    IF v_ja_tem > 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'O pok├®mon j├í conhece este movimento em um de seus slots ativos!';
    END IF;

    
    SELECT COUNT(*) INTO v_compativel
    FROM especie_movimento_nivel
    WHERE especie_id = v_especie_id 
      AND movimento_id = p_novo_movimento_id
      AND nivel_aprendizado <= v_nivel_pokemon;

    IF v_compativel = 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Movimento incompat├¡vel! Esse pok├®mon n├úo pode aprender este golpe no seu n├¡vel atual.';
    END IF;

    
    SELECT nome INTO v_nome_antigo FROM movimento WHERE id = p_movimento_atual_id;
    SELECT nome, pp_maximo INTO v_nome_novo, v_pp_max FROM movimento WHERE id = p_novo_movimento_id;

    
    UPDATE pokemon_movimento_ativo
    SET movimento_id = p_novo_movimento_id,
        pp_atual = v_pp_max
    WHERE pokemon_instancia_id = p_pokemon_instancia_id AND slot_numero = v_slot;

    SELECT CONCAT('1, 2 e... Poof! ', v_nome_pok, ' esqueceu ', v_nome_antigo, ' e aprendeu ', v_nome_novo, '!') AS resultado_aprendizado;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_trocar_pokemon_batalha` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_trocar_pokemon_batalha`(
    IN p_batalha_id INT,
    IN p_novo_pokemon_instancia_id INT
)
proc_troca: BEGIN
    DECLARE v_status_batalha VARCHAR(30);
    DECLARE v_turno INT;
    DECLARE v_treinador_jog_id, v_treinador_opo_id INT;
    DECLARE v_pok_antigo_id, v_pok_opo_id INT;
    DECLARE v_novo_dono_id INT;
    DECLARE v_esta_desmaiado BOOLEAN;
    DECLARE v_posicao_time INT;
    DECLARE v_nome_antigo, v_nome_novo VARCHAR(50);
    
    
    DECLARE v_mov_opo_id INT;
    DECLARE v_poder, v_tipo_mov INT;
    DECLARE v_categoria VARCHAR(20);
    DECLARE v_atk_stat, v_def_stat, v_nivel_atk INT;
    DECLARE v_dano INT;
    DECLARE v_mult_tipo DECIMAL(4,2);
    DECLARE v_stab DECIMAL(3,2);
    DECLARE v_tipo1_atk, v_tipo2_atk INT;
    DECLARE v_msg TEXT;
    DECLARE v_exp_ganha, v_base_exp_derrotado, v_nivel_derrotado INT;
    DECLARE v_proximo_pok_id INT;

    
    SELECT status, turno_atual, treinador_jogador_id, treinador_oponente_id, pokemon_ativo_jogador_id, pokemon_ativo_oponente_id
    INTO v_status_batalha, v_turno, v_treinador_jog_id, v_treinador_opo_id, v_pok_antigo_id, v_pok_opo_id
    FROM batalha WHERE id = p_batalha_id;

    IF v_status_batalha != 'EM_ANDAMENTO' THEN
        SELECT 'A batalha j├í foi finalizada!' AS erro;
        LEAVE proc_troca;
    END IF;

    
    SELECT treinador_id, esta_desmaiado, posicao_time, apelido
    INTO v_novo_dono_id, v_esta_desmaiado, v_posicao_time, v_nome_novo
    FROM pokemon_instancia WHERE id = p_novo_pokemon_instancia_id;

    IF v_novo_dono_id IS NULL OR v_novo_dono_id != v_treinador_jog_id THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Esse pok├®mon n├úo pertence a voc├¬!';
    END IF;

    IF p_novo_pokemon_instancia_id = v_pok_antigo_id THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Esse pok├®mon j├í ├® o pok├®mon ativo em campo!';
    END IF;

    IF v_posicao_time > 6 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Esse pok├®mon est├í no PC (Box), fora do seu time de 6!';
    END IF;

    IF v_esta_desmaiado = TRUE THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Esse pok├®mon est├í desmaiado e n├úo pode entrar!';
    END IF;

    SELECT apelido INTO v_nome_antigo FROM pokemon_instancia WHERE id = v_pok_antigo_id;

    
    UPDATE batalha SET pokemon_ativo_jogador_id = p_novo_pokemon_instancia_id WHERE id = p_batalha_id;

    SET v_msg = CONCAT('Red recolheu ', v_nome_antigo, ' e enviou ', v_nome_novo, '!');
    INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
    VALUES (p_batalha_id, v_turno, 1, p_novo_pokemon_instancia_id, v_pok_opo_id, NULL, 0, 1.00, (SELECT hp_atual FROM pokemon_instancia WHERE id = p_novo_pokemon_instancia_id), v_msg);

    
    SELECT movimento_id INTO v_mov_opo_id
    FROM pokemon_movimento_ativo
    WHERE pokemon_instancia_id = v_pok_opo_id AND pp_atual > 0
    ORDER BY RAND() LIMIT 1;
    IF v_mov_opo_id IS NULL THEN SET v_mov_opo_id = 33; END IF;

    SELECT poder, tipo_id, categoria INTO v_poder, v_tipo_mov, v_categoria FROM movimento WHERE id = v_mov_opo_id;
    SELECT pi.nivel, ep.tipo1_id, ep.tipo2_id,
           CASE WHEN v_categoria = 'Special' THEN pi.sp_ataque ELSE pi.ataque END
    INTO v_nivel_atk, v_tipo1_atk, v_tipo2_atk, v_atk_stat
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = v_pok_opo_id;

    SELECT CASE WHEN v_categoria = 'Special' THEN pi.sp_defesa ELSE pi.defesa END
    INTO v_def_stat
    FROM pokemon_instancia pi WHERE pi.id = p_novo_pokemon_instancia_id;

    UPDATE pokemon_movimento_ativo SET pp_atual = GREATEST(0, pp_atual - 1)
    WHERE pokemon_instancia_id = v_pok_opo_id AND movimento_id = v_mov_opo_id;

    IF v_tipo_mov = v_tipo1_atk OR (v_tipo2_atk IS NOT NULL AND v_tipo_mov = v_tipo2_atk) THEN SET v_stab = 1.50; ELSE SET v_stab = 1.00; END IF;
    SET v_mult_tipo = fn_obter_multiplicador_tipo(v_tipo_mov, p_novo_pokemon_instancia_id);

    IF v_poder IS NOT NULL AND v_poder > 0 THEN
        SET v_dano = FLOOR((((((2 * v_nivel_atk) / 5) + 2) * v_poder * (v_atk_stat / v_def_stat)) / 50 + 2) * v_stab * v_mult_tipo);
        IF v_mult_tipo > 0 AND v_dano = 0 THEN SET v_dano = 1; END IF;
    ELSE
        SET v_dano = 0;
    END IF;

    UPDATE pokemon_instancia
    SET esta_desmaiado = (hp_atual <= v_dano),
        hp_atual = GREATEST(0, hp_atual - v_dano)
    WHERE id = p_novo_pokemon_instancia_id;

    SET v_msg = CONCAT((SELECT apelido FROM pokemon_instancia WHERE id = v_pok_opo_id), ' atacou ', v_nome_novo,
                       ' com ', (SELECT nome FROM movimento WHERE id = v_mov_opo_id), '! Dano: ', v_dano);
    IF v_mult_tipo >= 2.0 THEN SET v_msg = CONCAT(v_msg, ' (Super Efetivo!)'); END IF;
    IF v_mult_tipo <= 0.5 AND v_mult_tipo > 0 THEN SET v_msg = CONCAT(v_msg, ' (N├úo foi muito efetivo...)'); END IF;

    INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
    VALUES (p_batalha_id, v_turno, 2, v_pok_opo_id, p_novo_pokemon_instancia_id, v_mov_opo_id, v_dano, v_mult_tipo, (SELECT hp_atual FROM pokemon_instancia WHERE id = p_novo_pokemon_instancia_id), v_msg);

    IF (SELECT esta_desmaiado FROM pokemon_instancia WHERE id = p_novo_pokemon_instancia_id) = TRUE THEN
        SELECT ep.exp_base, pi.nivel INTO v_base_exp_derrotado, v_nivel_derrotado
        FROM pokemon_instancia pi JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
        WHERE pi.id = p_novo_pokemon_instancia_id;
        SET v_exp_ganha = FLOOR((1.5 * v_base_exp_derrotado * v_nivel_derrotado) / 7);
        UPDATE pokemon_instancia SET experiencia_atual = experiencia_atual + v_exp_ganha WHERE id = v_pok_opo_id;

        SELECT id INTO v_proximo_pok_id FROM pokemon_instancia
        WHERE treinador_id = v_treinador_jog_id AND esta_desmaiado = FALSE AND posicao_time <= 6 ORDER BY posicao_time ASC LIMIT 1;

        IF v_proximo_pok_id IS NOT NULL THEN
            UPDATE batalha SET pokemon_ativo_jogador_id = v_proximo_pok_id, turno_atual = v_turno + 1 WHERE id = p_batalha_id;
            SELECT 'O pok├®mon trocado desmaiou ao entrar! Pr├│ximo pok├®mon convocado.' AS resultado_turno, v_msg AS acao;
            LEAVE proc_troca;
        ELSE
            UPDATE batalha SET status = 'DERROTA_JOGADOR', vencedor_id = v_treinador_opo_id WHERE id = p_batalha_id;
            SELECT 'Todos os seus pokemons desmaiaram! Fim da Batalha.' AS resultado_batalha;
            LEAVE proc_troca;
        END IF;
    END IF;

    UPDATE batalha SET turno_atual = v_turno + 1 WHERE id = p_batalha_id;
    SELECT CONCAT('Troca realizada com sucesso no Turno ', v_turno, '!') AS status,
           (SELECT CONCAT(apelido, ': ', hp_atual, '/', hp_max, ' HP') FROM pokemon_instancia WHERE id = p_novo_pokemon_instancia_id) AS pokemon_jogador,
           (SELECT CONCAT(apelido, ': ', hp_atual, '/', hp_max, ' HP') FROM pokemon_instancia WHERE id = v_pok_opo_id) AS pokemon_oponente;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_usar_item_batalha` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_usar_item_batalha`(
    IN p_batalha_id INT,
    IN p_item_id INT,
    IN p_pokemon_alvo_id INT
)
proc_item: BEGIN
    DECLARE v_status_batalha VARCHAR(30);
    DECLARE v_turno INT;
    DECLARE v_treinador_jog_id, v_treinador_opo_id INT;
    DECLARE v_pok_ativo_jog_id, v_pok_opo_id INT;
    
    DECLARE v_qtd_item INT DEFAULT 0;
    DECLARE v_nome_item VARCHAR(50);
    DECLARE v_efeito_tipo VARCHAR(30);
    DECLARE v_valor_efeito INT;
    DECLARE v_eh_porcentagem BOOLEAN;
    
    DECLARE v_alvo_treinador INT;
    DECLARE v_alvo_hp_atual, v_alvo_hp_max INT;
    DECLARE v_alvo_desmaiado BOOLEAN;
    DECLARE v_alvo_nome VARCHAR(50);
    DECLARE v_cura_real INT;

    
    DECLARE v_mov_opo_id, v_poder, v_tipo_mov INT;
    DECLARE v_categoria VARCHAR(20);
    DECLARE v_atk_stat, v_def_stat, v_nivel_atk, v_dano INT;
    DECLARE v_mult_tipo DECIMAL(4,2);
    DECLARE v_stab DECIMAL(3,2);
    DECLARE v_tipo1_atk, v_tipo2_atk INT;
    DECLARE v_msg TEXT;
    DECLARE v_exp_ganha, v_base_exp_derrotado, v_nivel_derrotado, v_proximo_pok_id INT;

    
    SELECT status, turno_atual, treinador_jogador_id, treinador_oponente_id, pokemon_ativo_jogador_id, pokemon_ativo_oponente_id
    INTO v_status_batalha, v_turno, v_treinador_jog_id, v_treinador_opo_id, v_pok_ativo_jog_id, v_pok_opo_id
    FROM batalha WHERE id = p_batalha_id;

    IF v_status_batalha != 'EM_ANDAMENTO' THEN
        SELECT 'A batalha j├í foi finalizada!' AS erro;
        LEAVE proc_item;
    END IF;

    
    SELECT tm.quantidade, i.nome, i.efeito_tipo, i.valor_efeito, i.eh_porcentagem
    INTO v_qtd_item, v_nome_item, v_efeito_tipo, v_valor_efeito, v_eh_porcentagem
    FROM treinador_mochila tm
    JOIN item_inventario i ON tm.item_id = i.id
    WHERE tm.treinador_id = v_treinador_jog_id AND tm.item_id = p_item_id;

    IF v_qtd_item <= 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Voc├¬ n├úo possui este item na sua mochila!';
    END IF;

    
    SELECT treinador_id, hp_atual, hp_max, esta_desmaiado, apelido
    INTO v_alvo_treinador, v_alvo_hp_atual, v_alvo_hp_max, v_alvo_desmaiado, v_alvo_nome
    FROM pokemon_instancia WHERE id = p_pokemon_alvo_id;

    IF v_alvo_treinador != v_treinador_jog_id THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Voc├¬ s├│ pode usar itens nos pok├®mons do seu pr├│prio time!';
    END IF;

    
    IF v_efeito_tipo = 'CURA_HP' THEN
        IF v_alvo_desmaiado = TRUE THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Este pok├®mon est├í desmaiado! Use um Revive para reviv├¬-lo.';
        END IF;
        IF v_alvo_hp_atual >= v_alvo_hp_max THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'O HP deste pok├®mon j├í est├í no m├íximo!';
        END IF;

        IF v_eh_porcentagem = TRUE THEN
            SET v_cura_real = v_alvo_hp_max;
        ELSE
            SET v_cura_real = v_valor_efeito;
        END IF;

        UPDATE pokemon_instancia
        SET hp_atual = LEAST(hp_max, hp_atual + v_cura_real)
        WHERE id = p_pokemon_alvo_id;

        SET v_msg = CONCAT('Red usou ', v_nome_item, ' em ', v_alvo_nome, '! HP restaurado.');

    ELSEIF v_efeito_tipo = 'REVIVE' THEN
        IF v_alvo_desmaiado = FALSE THEN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Este pok├®mon n├úo est├í desmaiado!';
        END IF;

        IF v_eh_porcentagem = TRUE THEN
            SET v_cura_real = FLOOR((v_alvo_hp_max * v_valor_efeito) / 100);
        ELSE
            SET v_cura_real = v_valor_efeito;
        END IF;

        UPDATE pokemon_instancia
        SET esta_desmaiado = FALSE,
            hp_atual = v_cura_real
        WHERE id = p_pokemon_alvo_id;

        SET v_msg = CONCAT('Red usou ', v_nome_item, ' em ', v_alvo_nome, '! Pok├®mon reviveu com ', v_cura_real, ' HP.');

    ELSEIF v_efeito_tipo = 'RESTAURA_PP' THEN
        UPDATE pokemon_movimento_ativo pma
        JOIN movimento m ON pma.movimento_id = m.id
        SET pma.pp_atual = LEAST(m.pp_maximo, pma.pp_atual + v_valor_efeito)
        WHERE pma.pokemon_instancia_id = p_pokemon_alvo_id;

        SET v_msg = CONCAT('Red usou ', v_nome_item, ' em ', v_alvo_nome, '! PPs restaurados.');
    END IF;

    
    UPDATE treinador_mochila
    SET quantidade = quantidade - 1
    WHERE treinador_id = v_treinador_jog_id AND item_id = p_item_id;

    
    INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
    VALUES (p_batalha_id, v_turno, 1, v_pok_ativo_jog_id, v_pok_opo_id, NULL, 0, 1.00, (SELECT hp_atual FROM pokemon_instancia WHERE id = v_pok_ativo_jog_id), v_msg);

    
    SELECT movimento_id INTO v_mov_opo_id
    FROM pokemon_movimento_ativo
    WHERE pokemon_instancia_id = v_pok_opo_id AND pp_atual > 0
    ORDER BY RAND() LIMIT 1;
    IF v_mov_opo_id IS NULL THEN SET v_mov_opo_id = 33; END IF;

    SELECT poder, tipo_id, categoria INTO v_poder, v_tipo_mov, v_categoria FROM movimento WHERE id = v_mov_opo_id;
    SELECT pi.nivel, ep.tipo1_id, ep.tipo2_id,
           CASE WHEN v_categoria = 'Special' THEN pi.sp_ataque ELSE pi.ataque END
    INTO v_nivel_atk, v_tipo1_atk, v_tipo2_atk, v_atk_stat
    FROM pokemon_instancia pi
    JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
    WHERE pi.id = v_pok_opo_id;

    SELECT CASE WHEN v_categoria = 'Special' THEN pi.sp_defesa ELSE pi.defesa END
    INTO v_def_stat
    FROM pokemon_instancia pi WHERE pi.id = v_pok_ativo_jog_id;

    UPDATE pokemon_movimento_ativo SET pp_atual = GREATEST(0, pp_atual - 1)
    WHERE pokemon_instancia_id = v_pok_opo_id AND movimento_id = v_mov_opo_id;

    IF v_tipo_mov = v_tipo1_atk OR (v_tipo2_atk IS NOT NULL AND v_tipo_mov = v_tipo2_atk) THEN SET v_stab = 1.50; ELSE SET v_stab = 1.00; END IF;
    SET v_mult_tipo = fn_obter_multiplicador_tipo(v_tipo_mov, v_pok_ativo_jog_id);

    IF v_poder IS NOT NULL AND v_poder > 0 THEN
        SET v_dano = FLOOR((((((2 * v_nivel_atk) / 5) + 2) * v_poder * (v_atk_stat / v_def_stat)) / 50 + 2) * v_stab * v_mult_tipo);
        IF v_mult_tipo > 0 AND v_dano = 0 THEN SET v_dano = 1; END IF;
    ELSE
        SET v_dano = 0;
    END IF;

    UPDATE pokemon_instancia
    SET esta_desmaiado = (hp_atual <= v_dano),
        hp_atual = GREATEST(0, hp_atual - v_dano)
    WHERE id = v_pok_ativo_jog_id;

    SET v_msg = CONCAT((SELECT apelido FROM pokemon_instancia WHERE id = v_pok_opo_id), ' atacou ',
                       (SELECT apelido FROM pokemon_instancia WHERE id = v_pok_ativo_jog_id),
                       ' com ', (SELECT nome FROM movimento WHERE id = v_mov_opo_id), '! Dano: ', v_dano);
    IF v_mult_tipo >= 2.0 THEN SET v_msg = CONCAT(v_msg, ' (Super Efetivo!)'); END IF;
    IF v_mult_tipo <= 0.5 AND v_mult_tipo > 0 THEN SET v_msg = CONCAT(v_msg, ' (N├úo foi muito efetivo...)'); END IF;

    INSERT INTO log_batalha (batalha_id, numero_turno, ordem_acao, pokemon_atacante_id, pokemon_defensor_id, movimento_id, dano_causado, multiplicador_tipo, hp_restante_defensor, mensagem)
    VALUES (p_batalha_id, v_turno, 2, v_pok_opo_id, v_pok_ativo_jog_id, v_mov_opo_id, v_dano, v_mult_tipo, (SELECT hp_atual FROM pokemon_instancia WHERE id = v_pok_ativo_jog_id), v_msg);

    
    IF (SELECT esta_desmaiado FROM pokemon_instancia WHERE id = v_pok_ativo_jog_id) = TRUE THEN
        SELECT ep.exp_base, pi.nivel INTO v_base_exp_derrotado, v_nivel_derrotado
        FROM pokemon_instancia pi JOIN especie_pokemon ep ON pi.especie_id = ep.id_pokedex
        WHERE pi.id = v_pok_ativo_jog_id;
        SET v_exp_ganha = FLOOR((1.5 * v_base_exp_derrotado * v_nivel_derrotado) / 7);
        UPDATE pokemon_instancia SET experiencia_atual = experiencia_atual + v_exp_ganha WHERE id = v_pok_opo_id;

        SELECT id INTO v_proximo_pok_id FROM pokemon_instancia
        WHERE treinador_id = v_treinador_jog_id AND esta_desmaiado = FALSE AND posicao_time <= 6 ORDER BY posicao_time ASC LIMIT 1;

        IF v_proximo_pok_id IS NOT NULL THEN
            UPDATE batalha SET pokemon_ativo_jogador_id = v_proximo_pok_id, turno_atual = v_turno + 1 WHERE id = p_batalha_id;
            SELECT 'Item usado! Seu pok├®mon ativo desmaiou e o pr├│ximo entrou em campo.' AS resultado_turno, v_msg AS retalia├º├úo;
            LEAVE proc_item;
        ELSE
            UPDATE batalha SET status = 'DERROTA_JOGADOR', vencedor_id = v_treinador_opo_id WHERE id = p_batalha_id;
            SELECT 'Todos os seus pokemons desmaiaram! Fim da Batalha.' AS resultado_batalha;
            LEAVE proc_item;
        END IF;
    END IF;

    UPDATE batalha SET turno_atual = v_turno + 1 WHERE id = p_batalha_id;
    SELECT CONCAT('Item usado no Turno ', v_turno, '!') AS status,
           (SELECT CONCAT(apelido, ': ', hp_atual, '/', hp_max, ' HP') FROM pokemon_instancia WHERE id = v_pok_ativo_jog_id) AS pokemon_jogador,
           (SELECT CONCAT(apelido, ': ', hp_atual, '/', hp_max, ' HP') FROM pokemon_instancia WHERE id = v_pok_opo_id) AS pokemon_oponente;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `vw_golpes_pokemon_ativos`
--

/*!50001 DROP VIEW IF EXISTS `vw_golpes_pokemon_ativos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_golpes_pokemon_ativos` AS select `pi`.`id` AS `pokemon_instancia_id`,`t`.`nome` AS `treinador`,`pi`.`apelido` AS `apelido`,`pma`.`slot_numero` AS `slot_numero`,`m`.`nome` AS `golpe`,`tp`.`nome` AS `tipo_golpe`,`m`.`categoria` AS `categoria`,`m`.`poder` AS `poder`,`m`.`precisao` AS `precisao`,`pma`.`pp_atual` AS `pp_atual`,`m`.`pp_maximo` AS `pp_maximo` from ((((`pokemon_movimento_ativo` `pma` join `pokemon_instancia` `pi` on((`pma`.`pokemon_instancia_id` = `pi`.`id`))) join `treinador` `t` on((`pi`.`treinador_id` = `t`.`id`))) join `movimento` `m` on((`pma`.`movimento_id` = `m`.`id`))) join `tipo` `tp` on((`m`.`tipo_id` = `tp`.`id`))) order by `pi`.`id`,`pma`.`slot_numero` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_pokedex_kanto`
--

/*!50001 DROP VIEW IF EXISTS `vw_pokedex_kanto`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_pokedex_kanto` AS select `ep`.`id_pokedex` AS `id_pokedex`,`ep`.`nome` AS `nome`,`t1`.`nome` AS `tipo1`,ifnull(`t2`.`nome`,'-') AS `tipo2`,`ep`.`hp_base` AS `hp_base`,`ep`.`ataque_base` AS `ataque_base`,`ep`.`defesa_base` AS `defesa_base`,`ep`.`sp_ataque_base` AS `sp_ataque_base`,`ep`.`sp_defesa_base` AS `sp_defesa_base`,`ep`.`velocidade_base` AS `velocidade_base`,(((((`ep`.`hp_base` + `ep`.`ataque_base`) + `ep`.`defesa_base`) + `ep`.`sp_ataque_base`) + `ep`.`sp_defesa_base`) + `ep`.`velocidade_base`) AS `total_stats`,`ep`.`exp_base` AS `exp_base` from ((`especie_pokemon` `ep` join `tipo` `t1` on((`ep`.`tipo1_id` = `t1`.`id`))) left join `tipo` `t2` on((`ep`.`tipo2_id` = `t2`.`id`))) order by `ep`.`id_pokedex` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_time_treinadores`
--

/*!50001 DROP VIEW IF EXISTS `vw_time_treinadores`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_time_treinadores` AS select `t`.`nome` AS `treinador`,`t`.`classe` AS `classe`,`pi`.`posicao_time` AS `posicao_time`,`pi`.`apelido` AS `apelido`,`ep`.`nome` AS `especie`,`pi`.`nivel` AS `nivel`,`pi`.`hp_atual` AS `hp_atual`,`pi`.`hp_max` AS `hp_max`,`pi`.`ataque` AS `ataque`,`pi`.`defesa` AS `defesa`,`pi`.`sp_ataque` AS `sp_ataque`,`pi`.`sp_defesa` AS `sp_defesa`,`pi`.`velocidade` AS `velocidade`,`pi`.`esta_desmaiado` AS `esta_desmaiado`,`pi`.`experiencia_atual` AS `experiencia_atual` from ((`treinador` `t` join `pokemon_instancia` `pi` on((`t`.`id` = `pi`.`treinador_id`))) join `especie_pokemon` `ep` on((`pi`.`especie_id` = `ep`.`id_pokedex`))) order by `t`.`id`,`pi`.`posicao_time` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-09 22:36:46
